<%= form_for @recipe, :html => { :multipart => true } do |f| %>
  <div class="inline">
    Title:<br>
    <%= f.text_field :title %>
  </div>
  <div class="inline">
    Serving:<br>
    <%= f.number_field :serving %>
  </div>
  <div class="inline">
    <%= link_to "Back to your recipes", user_path(current_user.id) %>
  </div>
  <br>
  <hr>

  <div class='wrap'>
    <h2> Ingredients </h2>
      Photo:<br>
      <% if @file_found == true %>
        <%= image_tag @recipe.photo.url(:med)%> <br>
        Replace Image: <%= f.file_field :photo %>
      <% else %>
        <%= f.file_field :photo %>
      <% end %>

    <br>
    <hr>

    <%= f.fields_for :ingredients do |builder| %>
      <%= render "ingredient_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Ingredient", f, :ingredients %></p>
  </div>

  <div class='wrap'>
    <h2> Instructions </h2>
    <%= f.fields_for :steps do |builder| %>
      <%= render "step_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Step", f, :steps %></p>

    <%= f.submit :Submit %> 
  </div>

<% end %>