<div class="fields">  
  <div>
    Ingredient:<br>
    <%= f.text_field :name %>
    <%= link_to_remove_fields "remove", f %>
  </div>

  <%= f.fields_for :amounts do |builder| %>
    <%= render "amount_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Amount", f, :amounts %></p>
</div>
