<%= link_to "Back to all recipes", recipes_path %>

<h2><%= link_to @recipe.title, recipe_path(@recipe) %></h2>

<% @recipe.ingredients.each do |ingredient| %>
  <p contenteditable="true"><%= ingredient.name %></p>
  <% for amount in ingredient.amounts %>
  <ul>
    <p><%= amount.quantity %></p>
  </ul>
  <% end %>
<%end%>

<ol>
<% @recipe.steps.each do |step| %>
  <li contenteditable="true"><%= step.instruction %></li>
<%end%>
</ol>

<hr>