<%= link_to "Back to all recipes", recipes_path %>

<h2><%= link_to @recipe.title, recipe_path(@recipe) %></h2>

<h3>Ingredients</h3>
<% @recipe.ingredients.each do |ingredient| %>
  <ul contenteditable="true"> 
    <% for amount in ingredient.amounts %>
      <%= amount.quantity %> 
    <% end %>
    <%= ingredient.name %>
  </ul>
<%end%>

<hr>

<h3>Instructions</h3>
<ol>
<% @recipe.steps.each do |step| %>
  <li contenteditable="true"><%= step.instruction %></li>
<%end%>
</ol>

