<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two:700,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>
  <%= render 'layouts/header' %>
  <%= yield %>

</body>
</html>
